.filters {
    padding: 20px 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-end;

    .search{
        flex: 1 1 200px;
    }
}

.task-board {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    vertical-align: top;
    margin: 0 20px;
    height: 80%;

    .task-status-column {
        border: solid 1px #ccc;
        min-height: 60px;
        width: 32%;
        background: white;
        border-radius: 4px;
        overflow: hidden;
        display: block;

        .status {
            border-bottom: solid 1px #ccc;
            text-align: center;
            padding: 20px 0;
            margin-bottom: 0;
        }

        .pending {
            background-color: #ccc;
        }

        .inProgress {
            background-color: #ffc670;
        }

        .completed {
            background-color: #72ff77;
        }
    }
}