<div *ngIf="task | async as task; else loading">
    <mat-card class="task-details-card">
        <mat-card-actions>
            <button mat-stroked-button color="primary" (click)="goBack()">Back</button>
        </mat-card-actions>
        <mat-card-header>
            <mat-card-title>{{ task.taskName }}</mat-card-title>
            <mat-card-subtitle>Status: <span [ngClass]="task.status | lowercase">{{ task.status
                    }}</span></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="details">Description: {{ task.description }}</p>
            <p class="details">Priority: {{ task.priority }}</p>
            <p class="details">Assigned To: {{ task.assignedTo }}</p>
            <p class="details">Due Date: {{ task.dueDate | date }}</p>
        </mat-card-content>

    </mat-card>
</div>
<ng-template #loading>
    <mat-card>
        <mat-card-content>
            Loading task details...
        </mat-card-content>
    </mat-card>
</ng-template>